@font-face {
    font-family: 'OpenSansNormal';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: 'Har';
    src: url('../fonts/Harngton.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gab';
    src: url('../fonts/Gabriola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}